/* Variables */
:root {
	--custom-accent-color: oklch(0.6 0.119 288.49);
    --custom-accent-color-light: oklch(0.75 0.189 288.49);
	--custom-accent-color-hover-dark: oklch(0.52 0.119 288.49);
	--custom-accent-color-translucent: color-mix(in oklab, var(--custom-accent-color), transparent 88%);
	--custom-accent-color-translucent-light: color-mix(in oklab, var(--custom-accent-color), transparent 70%);
	--custom-accent-color-translucent-dark: color-mix(in oklab, var(--custom-accent-color), transparent 96%);
}

/* Activities */
[class*=membersGroup]:has([class*=headerContainer]),
div[data-list-item-id*=members]:has([class*=infoSection]){
    display: none !important;
}

/* DM sidebar buttons */
[class*=sidebarList] :is(a[href*="/store"], a[href*="/shop"], a[href*="/quest"]) {
	display: none !important;
}

/* Servers */
[class*=guilds] [class*=listItem] foreignObject {
	transition: border-radius 0.2s ease-in-out;
	mask: none;
	border-radius: 100%;

	&:has([class*="folderButton"]) {
		border-radius: 25%;
	}

	&:hover {
		border-radius: 25%;
	}
}

[class*=upperBadge], [class*=lowerBadge] {
    box-shadow: 0 0 0 2px var(--background-base-lowest);
    border-radius: 100%;
    background-color: var(--background-base-lowest);
}

/* Folders */
[class*=folderGroup] {
	--custom-folder-preview-padding: 6px;
}

[class*=folderPreviewGuildIcon] {
	border-radius: 32px !important;
}

/* Server sidebar */
[class*=sidebar] li:has(:is([data-list-item-id*=channels___skill-trees], [data-list-item-id*=channels___upcoming-events]))  {
	display: none !important;
}

ul[class*=content] {
	& [class*="sectionDivider"], & div[style*="height: 12px;"] {
		display: none !important;
	}
}

/* Top bar help and inbox remove*/
[class*=bar] [class*=trailing] {
	& > *:not([class*=winButtons]) {
		display: none;
	}

	& [class*=winButtons]::before {
		display: none;
	}
	height: 30px;
}

[class*=toolbar] {
	margin-inline-end: 0 !important;
}

/* Clear text transform*/
[class*=connection] {
	text-transform: none !important;
}

/* Voice participants */
[class*=participantsWrapperAnimated] {
	& * {
		text-transform: none !important;
	}

	& [class*=eyebrow] {
		text-transform: uppercase !important;
	}
}

/* Nitro icon near demo quality */
[class*=perksDemoContainer] svg {
	display: none;
}

/* Accent color */
:root {
    --green-new-40: var(--custom-accent-color);
    --green-new-31: var(--custom-accent-color-light);
    --green-new-30: var(--custom-accent-color-light);
    --green-new-25: var(--custom-accent-color-light);
    --blue-new-37: var(--custom-accent-color-light);
    --blurple-21: var(--custom-accent-color);
    --blurple-36: var(--custom-accent-color-light);
    --blurple-50: var(--custom-accent-color);
    --blurple-60: var(--custom-accent-color-hover-dark);
    --opacity-green-8-hsl: 248.13 39.7% 60.74%; /* --custom-accent-color in hsl */
	--opacity-green-12: var(--custom-accent-color-translucent);
    --opacity-green-24: var(--custom-accent-color-translucent-light);
    /* idk if it brokes smth */
    --red-400: var(--custom-accent-color);

}

.theme-dark {
    /* Notification badges */
    --background-feedback-notification: var(--custom-accent-color);
    --badge-notification-background: var(--custom-accent-color);
}

/* Guild members list icons */
[class*=member] :is([class*=subText] path, [class*=icon]) {
	fill: var(--custom-accent-color) !important;
}

/* Switch button */
[class*=switchIndicator]:has(svg:not([style*="left: 1px;"])),
/* Game preview? (Big S when demo) */
[class*=gameWrapper] [class*=icon] {
    background-color: var(--custom-accent-color) !important;
}

/* Mentioned */
[class*=message][class*=mentioned] {
    --message-mentioned-background-default: var(--custom-accent-color-translucent);
    --message-mentioned-background-hover: var(--custom-accent-color-translucent-dark);
    --icon-feedback-warning: var(--custom-accent-color-light);
}

/* Crown icon */
[class*=member] svg[class*=ownerIcon] {
    --text-feedback-warning: var(--custom-accent-color); 
}
